*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#elipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

/travel_spark/src/main/resources/core-site.xml
/travel_spark/src/main/resources/hbase-site.xml
/travel_spark/src/main/resources/hdfs-site.xml
/travel_spark/src/main/resources/hive-site.xml
/travel_spark/src/main/resources/jedisConfig.properties
